
<!-- DASHBOARD STOCKS -->
<a (click)="logWatchStocks()">Log WatchingList</a>

<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-12" *ngFor="let stock of stockList | keyvalue">
      <div class="card">
        <div class="card-header">
          {{stocks[stock.key]}}
      </div>
          <div class="card-block">
              <h3 class="card-title">{{stock.key}}</h3>
              <div class="card-media-block">
                <img src='https://storage.googleapis.com/iex/api/logos/{{stock.key}}.png' class="card-media-image">
                <div class="card-media-description">
                    <span class="card-media-title">
                      {{stock.value["price"] | currency }}
                    </span>
                    <span class="card-media-text">
                       <!-- secondary media text goes here-->
                    </span>
                </div>
            </div>
              <p class="card-text">
                <!-- card text goes here-->
              </p>
          </div>
          <div class="card-footer">
            <div class="btn-group">
              <button class="btn btn-sm" (click)="getMoreInfo(stock.key)">
                <clr-icon shape="info-standard"></clr-icon>
                  More Info
              </button>
              <button class="btn btn-sm" (click)="addToWatchlist(stock.key)">
                  <clr-icon shape="plus-circle"></clr-icon>
                  Add to Watchlist
              </button>
          </div>
          </div>
      </div>
  </div>
</div>

<!--MORE INFO MODAL-->
<clr-modal [(clrModalOpen)]="showModal" [clrModalStaticBackdrop]="false" *ngIf="showModal">
  <h3 class="modal-title">{{stockQuote?.companyName}}</h3>
  <div class="modal-body">
      <p>Latest price: {{stockQuote?.latestPrice | currency }}</p>
      <p>Primary Exchange: {{stockQuote?.primaryExchange}}</p>
      <p>Market Capitalization: {{stockQuote?.marketCap}}</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showModal = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="showModal = false">Ok</button>
  </div>
</clr-modal>


<!-- SECTORS SECTION-->
<div class="clr-row" *ngIf="showSectors">
  <div
    class="clr-col-sm-12 clr-col-md-6 clr-col-lg-4 clr-col-xl-3"
    *ngFor="let sector of sectors"
  >
    <div
      class="card"
      [ngStyle]="{
        border: sector.performance < 0 ? '1px solid red' : '1px solid green'
      }"
    >
      <div class="card-header">
        {{ sector.name }}
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ sector.performance | percent: '1.2-4' }}
        </div>
        <div class="card-text">
          {{ sector.lastUpdated | date: 'medium' }}
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link">Check Stocks</button>
        <button class="btn btn-sm btn-link">Read News</button>
      </div>
    </div>
  </div>
</div>
