<header class="header-6">
  <div class="branding">
    <a [routerLink]="['/']" class="nav-link">
      <img src="assets/images/play.png" height="25px" width="25px" />
      <span class="title">Play Market</span>
    </a>
  </div>
  <div class="header-nav">
    <a [routerLink]="['dashboard']" class="nav-link" routerLinkActive="active"
      >Dashboard</a
    >
    <a [routerLink]="['market']" routerLinkActive="active" class="nav-link"
      >Create Portfolio</a
    >
  </div>
  <div class="header-actions">
    <a class="nav-link" *ngIf="authService.loggedIn">
      <span
        class="label label-info"
        id="profileEmail"
        *ngIf="authService.userProfile$ | async as profile"
      >
        {{ profile?.name }}
      </span>
    </a>

    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a
          clrDropdownItem
          [routerLink]="['profile']"
          routerLinkActive="active"
          *ngIf="authService.loggedIn"
          >View Profile</a
        >
        <button
          (click)="authService.login()"
          *ngIf="!authService.loggedIn"
          clrDropdownItem
        >
          Log In
        </button>
        <button
          (click)="authService.logout()"
          *ngIf="authService.loggedIn"
          clrDropdownItem
        >
          Log Out
        </button>
        <!-- <a (click)="login()" *ngIf="!isAuthenticated" clrDropdownItem>Log in</a>
        <a (click)="logout()" *ngIf="isAuthenticated" clrDropdownItem
          >Log out</a
        > -->
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
