<clr-alert [clrAlertType]="'info'" [clrAlertAppLevel]="true" *ngIf="msg" (clrAlertClosedChange)="alertOnClose()">
  <clr-alert-item>
      <span class="alert-text">
        {{ msg }}
      </span>
      <!-- <div class="alert-actions">
          <button class="btn alert-action">Undo</button>
      </div> -->
  </clr-alert-item>
</clr-alert>
