<h1>{{ message }}</h1>
API Status: <strong>{{apiStatus?.status}}</strong>

<br/>
<h2 *ngIf="auth.loggedIn">Portfolio Information</h2>
<div class="clr-row">
  <div class="clr-col-sm-12 clr-col-md-6">
    <table class="table" *ngIf="userPortfolio">
      <thead>
          <tr>
              <th>Stock</th>
              <th>Purchase Price</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let stock of userPortfolio">
              <td>{{ stock?.key }} </td>
              <td>{{ stock?.value }}</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="clr-col-sm-12 clr-col-md-6">

  </div>
  <div class="clr-col-sm-12 clr-col-md-12">

  </div>
</div>

<button (click)="getStockChart('aapl')">Press to get Apple Chart</button>


<app-line-chart *ngIf="showChart" [lineChartLabels]="lineChartLabels">
</app-line-chart>

<div *ngIf="userPortfolio">
<p>Check portfolio for updates</p>
<button class="btn btn-outline" (click)="getStockUpdates()">
  Check for updates
</button>
</div>
<br/>
<a href="https://iexcloud.io">Data provided by IEX Cloud</a>
