<div class="main-container">
  <!-- App Level Alert -->
  <app-alert></app-alert>
  <!-- Header Navbar -->
  <app-navbar></app-navbar>
  <div class="content-container">
    <!-- Sidebar -->
    <nav class="sidenav">
      <section class="sidenav-content">
        <a class="nav-link">
         Nav Element 1
        </a>
        <a href="..." class="nav-link">
          Nav Element 2
        </a>
        <section class="nav-group collapsible">
          <input id="tabexample1" type="checkbox" />
          <label for="tabexample1">Watch list</label>
          <ul class="nav-list" *ngFor="let symbol of watchList">
            <li><a class="nav-link">{{symbol}}
            </a></li>
          </ul>
        </section>
      </section>
    </nav>
    <div class="content-area">
      <!-- Routed Components -->
      <router-outlet></router-outlet>
      <!-- /Routed Components -->
    </div>
  </div>
</div>
