<div class="card" *ngIf="auth.userProfile$ | async as profile">
  <div class="card-img">
    <img [src]="profile.picture" height="200px" width="200px" />
  </div>
  <div class="card-block">
    <h4 class="card-title">{{ profile?.name }}</h4>
    <p class="card-text">
      {{ profile?.email }}
    </p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row" *ngIf="profileJson">
        <pre class="rounded"><code>{{profile | json}}</code></pre>
      </div>
    </li>
  </ul>
  <div class="card-footer">
    <a href="..." class="btn btn-sm btn-link">Action 1</a>
    <a href="..." class="btn btn-sm btn-link">Action 2</a>
  </div>
</div>



<!-- {
  "https://example.com/roles": [
    "admin"
  ],
  "nickname": "fjschiller",
  "name": "fjschiller@gmail.com",
  "picture": "https://s.gravatar.com/avatar/4dbadea21fef90ad5339fdeab464ecde?s=480&r=pg&d=https%3A%2F%2Fi.imgur.com%2Fc7pGAvA.png",
  "updated_at": "2019-07-26T00:32:49.458Z",
  "email": "fjschiller@gmail.com",
  "email_verified": true,
  "sub": "auth0|5a8cf0b35c679b17811059e4"
} -->


<hr />

