<h2 class="page-header">Choose up to five stocks to create your portfolio</h2>
<button (click)="printSelectedStocks()">print selected stocks</button>
<clr-dg-action-bar *ngIf="selectedStocks.length" class="portfolio-actions">
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-sm btn btn-primary"
      (click)="createPortfolio(selectedStocks)"
    >
      <clr-icon shape="plus-circle"></clr-icon> Create
    </button>
    <button
      type="button"
      class="btn btn-sm btn-warning-outline"
      (click)="selectedStocks = []"
    >
      <clr-icon shape="ban"></clr-icon> Cancel
    </button>
  </div>
</clr-dg-action-bar>

<br />



      <clr-datagrid
        [(clrDgSelected)]="selectedStocks"
        [clrDgLoading]="isLoading"
        (clrDgSelectedChange)="selectionChanged($event)"
      >
        <clr-dg-column [clrDgField]="'key'">Stock Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'symbol'">Symbol</clr-dg-column>
        <clr-dg-column
        [clrDgField]="'price'"
        [clrDgColType]="'number'"
        [clrDgSortOrder]="descSort"
        >
        Price
          </clr-dg-column
        >
        <clr-dg-placeholder>We couldn't find any stocks!</clr-dg-placeholder>
        <clr-dg-row
          *clrDgItems="let stock of stockList | keyvalue"
          [clrDgItem]="stock"
        >
          <clr-dg-cell>{{ stockNames[stock.key] }}</clr-dg-cell>
          <clr-dg-cell>{{ stock.key }}</clr-dg-cell>
          <clr-dg-cell>{{ stock.value | currency }}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="15">
            <clr-dg-page-size [clrPageSizeOptions]="[15, 30, 45, 100]"
              >Stocks per page</clr-dg-page-size
            >
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
            {{ pagination.totalItems }} Stocks
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>


